@CHARSET "UTF-8";

.tabsCadastro {
	margin-top: 5%;
}

.painelPrincipal {
	height: 400px;
}

.campoData {
	width: 70%;
	display: inline-block;
	margin-right: 5px;
}

.btnNext {
	float: right;
}

.btnReset {
	margin-right: 10px;
}

.divInclusao {
	margin-left: 35%;
	margin-top: 20%;
}

.divBotoes {
	margin-left: 10%;
}

.divInclusao p {
	font-weight: bold;
}